<header id="header">
    <div id="navbar">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="brand-logo">
                    <img src="./img/icon/brand-icon.svg" alt="">
                    <img src="/img/icon/brand-icon-text.svg" alt="">
                </div>
                <div class="navbar-list">
                    <ul class="navbar-list-ul">
                        <li class="navbar-list-item">
                            <a href="#">Free designs</a>
                        </li>
                        <li class="navbar-list-item">
                            <a href="#">License</a>
                        </li>
                        <li class="navbar-list-item">
                            <a href="#">Articles</a>
                        </li>
                        <li class="navbar-list-item">
                            <a href="#">Contributors</a>
                        </li>
                        <li class="navbar-list-item">
                            <a href="#">About</a>
                        </li>                
                    </ul>
                </div>
                <div class="navbar-buttons">
                    <a href="#" class="log-in">Log in</a>
                    <a href="#" class="sign-up">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="navbar-bottom-line"></div>
    </div>
</header>